.getStartedContainer {
        width: 813px;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}

.readyToWatch {
    font-weight: 500;
    color: white;
}

.customizedInput {
    width: 350px;
    height: 56px;
    border: white solid 1px;
    border-radius: 10px;
    padding: 10px;
    background-color: #393d475e;
    outline: none;
    margin-right: 10px;

}

.getStartedButton {
    width: 180px;
    height: 58px;
    color: white;
    background-color: red;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 600;
}

