body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

.centeredContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
width: 384px;
}

h1, .user {
    color: white;
}

h1 {
    text-align: center;
    padding-left: 30px;
    padding-bottom: 20px;
}
ul {
    display: flex;
    flex-direction: row;
}
.wholeAvatar {
    width: 192px;
    height: 192px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.userAvatar {
    width: 192px;
    height: 192px;
}
.addProfile {
    width: 100px;
    align-self: center;
    padding-top: 45px;
    padding-bottom: 45px;
}

ul {
    list-style-type: none;
    list-style-position: horizontal;
}
span {
    text-align: center;
    color: grey;
}